<div class="jumbotron center">
    <h1>Welcome to ClassMate!</h1>
    <p>The world's premier, educational social network</p>
    
    <%= link_to "Login", root_path, class: 'btn btn-default' %>
    <%= link_to "Join", root_path, class: 'btn btn-primary' %>
</div>
