<div class="page-header">
  <h1>Mathematics <small>select a topic...</small></h1>
</div>

<%= link_to "Algebra", home_algebra_path, class: 'btn btn-default' %></li>
<%= link_to "Geometry", edit_user_registration_path, class: 'btn btn-default' %>
<%= link_to "Calculus", edit_user_registration_path, class: 'btn btn-default' %>
<%= link_to "Differential Equations", edit_user_registration_path, class: 'btn btn-default' %>

      