<!--<div class="page-header">-->
<!--  <h1>Science <small>select a topic...</small></h1>-->
<!--</div>-->

<!doctype html>
<html>
<head>
	<title> Canvas </title>
	
	</head>
<body style = 'margin: 0'>
	<canvas id = "canvas">
		sorry, your browser is unsupported.
	</canvas>
	<script>
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

var radius = 10; 

canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

var putPoint = function(e){
	context.beginPath();
	context.arc(e.offsetX, e.offsetY, radius, 0, Math.PI*2);
	context.fill();
}
canvas.addEventListener('mousedown', putPoint);

</script>
</body>
</html>